<div class="main">
  <div class="container">
    <h2>ログイン</h2>
    <% if @error_message %>
        <div class="form-error">
            <%= @error_message %>
        </div>
    <% end %>
    <%= form_tag("/login") do %>  
    <div class="form">
      <input name="email" class="form-input" placeholder="メールアドレス" value="<%= @email %>">
      <input type="password" class="form-input" name="password" placeholder="パスワード" value="<%= @password %>">
      <p>半角英数字8文字以上で入力してください。<p>
    </div>
    <input type="submit" value="ログイン">
    <% end %>
  </div>
  <p class="acount-new">アカウントをお持ちでない方は<a href="/signup">こちら</a>からアカウント作成を行ってください。</p>
</div>