<div class="main">
  <div class="container">
    <div class="user">
      <%# <img src="<%= "/user_images/#{@user.image_name}" %>
      <h2><%= @user.name %></h2>
      <h3><%= @user.email %></h3>
      <h5>編集</h5>
    </div>
  </div>
</div>