<div class="main user-show">
  <div class="container">
    <div class="user">
      <%# <img src="<%= "/user_images/#{@user.image_name}" %>"> %>
      <h2>大仲希美子</h2>
      <%# <p><%= @user.email %></p> %>
      <%# <% if @user.id == @current_user.id %> %>
        <%# <%= link_to("編集") %> %>
      <%# <% end %> %>
    </div>
  </div>
</div>