<div class="main">
  <div class="container">
    <div class="user">
      <%# <img src="<%= "/user_images/#{@user.image_name}" %>
      <h2>大仲　希美子</h2>
      <h3>bisyoujo@oonaka.com</h3>
      <h5>編集</h5>
    </div>
  </div>
</div>