<div class="wrap">
<% breadcrumb :blog_new %>
<div class="main-blog-new">
    <p class="blog_new_top">ブログを通報する</p>
    <%= form_tag("/addreport/#{params[:id]}") do %>
    <div class="blog-report-form">
        <div class = "blog-report-title">
            <p>通報するブログタイトル</p>
            <input type="text" name="title" readonly value="<%= @blog.title %>">
        </div>
        <div class = "blog-report">
            <p>通報内容</p>
            <textarea name = "report"></textarea>
        </div>
        <div class="blog-send-button">
            <input type="submit" class = "blog-post-button" value="通報する">
        </div>
    </div>
    <% end %>
</div>