<div class="main-top">
  <div class="t1">
    <%# 検索バー %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <form method="get" action="#" class="search_container">
    <input type="text" size="25" placeholder="キーワード入力">
    <input type="submit" value="&#xf002">
    </form>

    <%# ブログを探す %>
    <div class="blog-genre">
      <h5>ブログを探す</h5>
    </div>
  </div>

  <div class="t2">
    <a class="button1" href="#">食物性</a>
    <a class="button2" href="#">吸引性</a>
    <a class="button3" href="#">接触性</a>
  </div>

  <div class="t3">
    <div class="search-blog">
      <h3>#アーモンド #アサリ #アジ #アボカド #アワ #イカ #イクラ #イチゴ #イワシ #インゲン #エビ</h3>
    </div>
  </div>

  <div class="t4">
    <div class="pickup">
      <h5>PICKUP</h5>
    </div>
  </div>

  <div class="t5">
    <div class="blog-display">
      <h2>タイトルが入ります<h2>
      <h5><br>吾輩は猫である。 名前はまだない。 <br>
      どこで生れたか頓と見当がつかぬ。<br>
      何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br><br>
      </h5>
      <a href= "">表示</a>
    </div>
    <div class="blog-display">
      <h2>タイトルが入ります<h2>
      <h5><br>吾輩は猫である。 名前はまだない。 <br>
      どこで生れたか頓と見当がつかぬ。<br> 
      何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br><br>
      </h5>
      <a href= "">表示</a>
    </div>
  </div>

  <div class="t6">
    <div class="under">
    </div>
  </div>

  <div class="t7">
  </div>
</div>

<!-- スタートのロゴ -->
<div class="logo_fadein">
  <p><img src="/rogo.png" width="300px" height="300px"></p>
</div>

<script>
  $(function() {  
    setTimeout(function(){
      $('.logo_fadein p').fadeIn(1600);
    },150); //0.5秒後にロゴをフェードイン!
    setTimeout(function(){
      $('.logo_fadein').fadeOut(500);
    },3000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
  });
</script>