<% breadcrumb :use %>
<div class="wrap">
<div class="use_background">
  <div class="use_base">
    <div class="use_margin"></div>
    <div class="use_top">
        <img class="use_top" src="intro_top.png">
    </div>
    <div class="use_main">
        <h3 class="f90 pink">アレルシェアについて</h3>
        <p class="f60">食物アレルギーを持つお子さんの保護者の方の中には、アレルゲンフリーの食事作り、外食時の対応、身近に相談できる人がいないなどの悩みをお持ちの方が多くいます。<br>さらに食物アレルギーの子供は１０年間で約２倍と増加傾向にあるため、食物アレルギーに関する情報を必要とする人は増加していくと考えられます。<br>私たちはこの食物アレルギーの関する問題に対して互いの情報を共有し、相談しあえる環境が解決につながると考え、アレルシェアを制作しました。</p>
        <img class="use_main_img" src="use_main_img.jpg">
    </div>
    <div class="field_back">
    <div class="element">
        <div class="use_main2">
            <div class="use_top2 f90 pink">アレルシェアでどんなことができる？</div>
            <p class="f90">「アレルシェア」は、アレルギーを持つ子供の育児の悩みに対し、情報共有のお手伝いをすることで皆様のお役に立てたらいいなと考えています。</p>
        </div>
    </div>
    <div class="element">
        <div class="field field_top">
            <div class="field_block">
            <div class="field_left">
                <div class="field_title f90 pink">知りたい情報が簡単に見つかる</div>
                <p class="f90">ブログを観覧してみましょう。<br>タグ別で絞り込み検索が可能で、あなたの目的に合った適切な情報を探すことができます。また、人気のブログやPICK UPブログから、みんながいいなと思った情報を知ることができます。</p>
            </div>
            <div class="field_right"><img class="field_img1" src="use_1.png"></div>
            </div>
        </div>
        <%# レスポンシブ==================================== %>
        <div class="r_field">
            <div class="field_block">
            <div class="r_img"><img src="use_1.png" width="300px"></div>
            <div class="field_left">
                <div class="field_title f90 pink">知りたい情報が簡単に見つかる</div>
                <p class="f90">ブログを観覧してみましょう。<br>タグ別で絞り込み検索が可能で、あなたの目的に合った適切な情報を探すことができます。また、人気のブログやPICK UPブログから、みんながいいなと思った情報を知ることができます。</p>
            </div>
            </div>
        </div>
    </div>
    <div class="element">
        <div class="field">
            <div class="field_block">
            <div class="field_left"><img class="field_img2" src="use_2.png"></div>
            <div class="field_right">
                <div class="field_title f90 pink">あなたの経験が誰かの役に立つ</div>
                <p class="f90">ブログを投稿してみましょう。<br>誰でも簡単に自身の経験や知識を発信することが出来ます。ブログ作成時にタグをつけることで、その発信を必要としている人に届きやすくなります。</p>
            </div>
            </div>
        </div>
        <%# レスポンシブ=========================== %>
        <div class="r_field">
            <div class="field_block">
            <div class="r_img2"><img src="use_2.png" width="300px"></div>
            <div class="field_left">
                <div class="field_title f90 pink">あなたの経験が誰かの役に立つ</div>
                <p class="f90">ブログを投稿してみましょう。<br>誰でも簡単に自身の経験や知識を発信することが出来ます。ブログ作成時にタグをつけることで、その発信を必要としている人に届きやすくなります。</p>
            </div>
            </div>
        </div>
    </div>
    <div class="element">
        <div class="field">
        <div class="field_block">
            <div class="field_left">
                <div class="field_title f90 pink">リアルタイムで悩みを相談</div>
                <p class="f90">チャットをしてみましょう。<br>ブログを見て、気になった人に個人チャットで悩みや不安などを相談することが出来ます。グループでは、同じ悩みを持つ人方達が集まって情報を共有することが出来ます。</p>
            </div>
            <div class="field_right"><img class="field_img3" src="use_3.png"></div>
            </div>
        </div>
        <%# レスポンシブ================= %>
        <div class="r_field">
        <div class="field_block">
            <div class="r_img3"><img src="use_3.png" width="200px"></div>
            <div class="field_left">
                <div class="field_title f90 pink">リアルタイムで悩みを相談</div>
                <p class="f90">チャットをしてみましょう。<br>ブログを見て、気になった人に個人チャットで悩みや不安などを相談することが出来ます。グループでは、同じ悩みを持つ人方達が集まって情報を共有することが出来ます。</p>
            </div>
            </div>
        </div>
    </div>
    </div>
    <%# field_back終了 %>
  </div>
    <div class="use_create">
        <p><span class="pink">アレルシェア</span>を利用しよう！</p>
        <a href="/">作成せずにブログを読む</a>
        <div class="use_button">
            <a class="use_create_button1" href="/signup">アカウント作成</a>
            <a class="use_create_button2" href="/login">ログイン</a>
        </div>
    </div>

    <div class="use_blog">
        <p class="pink f90">人気のブログ</p>
        <div class="use_topics">
            <div class="use_topic"></div>
            <div class="use_topic"></div>
            <div class="use_topic"></div>
            <div class="use_topic"></div>
        </div>
        <div class="use_a"><a>➤もっと見る</a></div>
    <div>

    <div class="use_infomation">
        <h2 class="pink f90">お問い合わせ</div>
    </div>
    

    <%# <div class="change_blue">水色</div>
    <div class="change_pink">濃い</div>
    <div class="change_usupink">薄い</div>
    <div class="header1">
        <div class="hed1 1">1</div>
        <div class="hed1 2">2</div>
        <div class="hed1 3">3</div>
        <div class="hed1 4">黒</div>
        <div class="hed1 5">白</div>
    </div> %>
</div>
</div>

<!-- スタートのロゴ -->
<div class="logo_fadein">
  <p><img src="/rogo.png" width="300px" height="300px"></p>
</div>

<script>
//logofadein
$(function() {  
setTimeout(function(){
    $('.logo_fadein p').fadeIn(1600);
},150); //0.5秒後にロゴをフェードイン!
setTimeout(function(){
    $('.logo_fadein').fadeOut(500);
},3000); //2.5秒後にロゴ含め真っ白背景をフェードアウト！
});

$(function () {
  $(window).scroll(function () {
    const windowHeight = $(window).height();    //ウィンドウの高さ
    const scroll = $(window).scrollTop();       //スクロール量

    $(".element").each(function () {
      const targetPosition = $(this).offset().top;
      if (scroll > targetPosition - windowHeight + 100) {
        $(this).addClass("is-fadein");
      }
    });
  });
});
// $(function () {
//     $('.change_blue').on('click', function(){
//         $('.pink').css("color","rgb(102, 217, 255)");
//     })
//     $('.change_pink').on('click', function(){
//         $('.pink').css("color","#ff4784")
//     })
//     $('.change_usupink').on('click', function(){
//         $('.pink').css("color","#ffbbda")
//     })
//     $('.1').on('click', function(){
//         $('.changetest').css('background-color',"#ffd3e7");
//     })
//     $('.2').on('click', function(){
//         $('.changetest').css('background-color',"#ffbad9");
//     })
//     $('.3').on('click', function(){
//         $('.changetest').css('background-color',"#ff93c3");
//     })
//     $('.4').on('click', function(){
//         $('.header-text').css('color',"black");
//     })
//     $('.5').on('click', function(){
//         $('.header-text').css('color',"white");
//     })
// } )


</script>