<%= form_with model: @recipe, local: true do |f| %>

    <div class="form-group">
      <label class="text-secondary">画像</label><br>
      <%= f.file_field :image %>
    </div>

    <div id="new-image"></div> 

<% end %>


<script>
    const createImageHTML = (blob) => {  
      const imageElement = document.getElementById('new-image'); 
      const blobImage = document.createElement('img'); 
      blobImage.setAttribute('class', 'new-img') 
      blobImage.setAttribute('src', blob); 
      imageElement.appendChild(blobImage);
    }; 

    document.getElementById('image').addEventListener('change', (e) => {
      const file = e.target.files[0];
      const blob = window.URL.createObjectURL(file);
      createImageHTML(blob);
    });
</script>