<div class="base">
    <!-- 検索ボタン -->
        <div class="input-group mt-2 mx-2 w90">
            <input type="text" id="roomsearch" placeholder="チャットグループを検索">
        </div>
    <!-- グループリスト -->
    <div class="grouplist">
        <ul>
        <% @room.each do |post| %>
            <% id = post.roomname %>
            <li class="chat-list">
                <a id="#<%= post.id %>" href="#<%= post.roomname %>" onclick="roomchange(this.text,this.id)"><%= post.roomname %></a>
            </li>
        <% end %>
        </ul>
    </div>
</div>
<div class="base2">
    <div class="partner">
        <div class="send_group">お知らせ</div>
    </div>
    <div class="chat-container">
        <div class="mycomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。自分の文章です。自分の文章です。自分の
            </p>
        </div>
        <div class="paircomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。相手の文章です。相手の文章です。
            </p>
        </div>
        <div class="mycomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。
            </p>
        </div>
        <div class="mycomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。
            </p>
        </div>
        <div class="mycomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。
            </p>
        </div>
        <div class="mycomment">
            <p>
            >>右ふきだし文<<<br>この文章はテスト文章です。<br>文章を感知して自動で改行されます。
            </p>
        </div>
    </div>


    <div class="sendchat">
        <textarea id="textarea" class="chat-area" placeholder="メッセージを入力" style="overflow:hidden;"></textarea>
        <button class="chat-sendbutton" onclick="addmessage(<%= session[:user_id] %>)">送信</button>
    </div>
</div>

<script>
    // 高さ調節script
    document.getElementById('textarea').focus();
    var chat = document.getElementsByClassName('chat-container');
    chat[0].scrollTop = chat[0].scrollHeight;
    document.querySelectorAll("#textarea").forEach(function(){
        this.addEventListener('keyup',function(e){
            e.srcElement.style.height = 0
            e.srcElement.style.height = e.srcElement.scrollHeight+"px"
            chat[0].style.height = 450 - e.srcElement.scrollHeight+"px"
        })
    })

    var room //チャット検索用
    var room_num = 0 //チャット送信用
    $(function () {
        // room検索script
        $('#roomsearch').on('keyup', function (e) {
            if (e.which == 13) {
                // 何もせずに処理を終える
                return false;
            }
            room = $.trim($(this).val());
            //console.log(room); // 検索窓の値が取れているか確認

            $.ajax({
                type: 'GET', // リクエストのタイプ
                url: 'message/search', // リクエストを送信するURL
                data:  { roomname: room }, // サーバーに送信するデータ
                dataType: 'json' // サーバーから返却される型
            })
            .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.grouplist li').remove();
                // console.log(data);

                $(data).each(function(i,room) {
                    $('.grouplist ul').append(
                        `<li class="chat-list"><a href="index">${room.roomname}</a></li>`
                    );
                });
            })

        });
    });

    // room名を変更する
    function roomchange(name,id){
        $('.send_group').html(name);
        room_name = Number(id.substr( 1, 1 ));
        //alert(room_name)

        $.ajax({
            type: 'GET', // リクエストのタイプ
            url: 'message/sendchat', // リクエストを送信するURL
            data:  { room: room_num }, // サーバーに送信するデータ
            dataType: 'json' // サーバーから返却される型
        })
        .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.chat-container div').remove();
                //console.log(data);

                $(data).each(function(i,room_num) {
                    $('.chat-container').append(
                        `<div class="mycomment"><p>${room_name.content}</p></div>`
                    );
                });
         })

    }

    function addmessage(str){
        var chat = $('.chat-area').val();
        //alert(str);

        $.ajax({
            type: 'POST', // リクエストのタイプ
            url: 'message/createchat', // リクエストを送信するURL
            data:  { text : chat, room : room_num, user : str}, // サーバーに送信するデータ
            dataType: 'json' // サーバーから返却される型
        })
        .done(function(data){ // dataにはレスポンスされたデータが入る
                $('.chat-container div').remove();
                console.log(data);

                $(data).each(function(i,room_name) {
                    $('.chat-container').append(
                        `<div class="mycomment"><p>${room_name.content}</p></div>`
                    );
                });
         })

         //valを削除
        $('.chat-area').val("");
    }

</script>