<div class="main posts-show">
  <div class="main-frame">
    <div class="blog-title">
        <%= @blog.title%>
    </div>
    <div class="blog-image">
    </div>
    <div class="blog-content">
      <%= @blog.content%>
    </div>
    <div class="plofile">
      プロフィール
    </div>
    <div class="blog-plofile">
    </div>
  </div>
</div>