<div class="main-blog-new">
    <%= form_tag("/blog_view/blog_create",{multipart:true}) do %>
    <div class="blog-form">
    <% @blog.errors.full_messages.each do |message| %>
        <div class="blog-form-error">
            <%= message %>
        </div>
    <% end %>
        <div class = "blog-form-title">
            <div class="ti">
                <a>タイトル</a>
            </div>
            <textarea name = "title"></textarea>
        </div>
        <div class = "blog-form-image">
            <img src="/blog_images/blog_default.png" class="blog-noimage">
            <input name="image" a class="image-button" type="file">画像編集</a>
        </div>
        <div class = "blog-form-content">
            <div class="co">
                <a>本文</a>
            </div>
            <textarea name = "content"></textarea>
        </div>
        <div class = "blog-form-tag">
            <div class="ta">
                <a>タグを選択</a>
            </div>
            <div class = "blog-tag-select">
                
            </div>
        </div>
            <input type="submit" class = "blog-post-button" value="投稿">
    </div>
    <% end %>
</div>