<div class="main-blog">
  <div class="b1">
    <div class="content">
      <div class="blog-title">
        <h1>タイトルが入ります</h1>
      </div>

      <div class="blog-name">
        <h5>作成者</h5>
        <h6>アレル　太郎</h6>
        <img src=/user_images/default_image.jpg class="userimage" width=70 height=70>
      </div>
    </div>

    <div class="b4">
      <div class="blog_pickup">
        <h6>PICKUP</h6>
      </div>
      <div class="blog-recommend">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
      <div class="blog-recommend2">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
      <div class="blog-recommend3">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
      <div class="blog-recommend4">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
      <div class="blog-recommend5">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
      <div class="blog-recommend6">
        <h6>タイトルが入ります<h6>
        <a href= "/blog">表示</a>
      </div>
    </div>
  </div>

    <div class="b3">
    <div class="under">
      <div class="bottom-top">
       <div class="manage">
         <img src="/管理.png" class="manage-logo" width=80 height=80>
       </div>
        <div class="talk">
         <img src="/会話.png" class="manage-logo" width=80 height=80>
       </div>
       <div class="outgo">
         <img src="/発信.png" class="manage-logo" width=80 height=80>
       </div>
     </div>
     <div class="bottom-middle">
      <div class="manage-se">
        <h5>管理</h5>
        <h6><br>自分のアレルギー<br>情報をまとめて管理</h6>
       </div>
        <div class="talk-se">
        <h5>会話</h5>
        <h6><br>ほかのユーザーと<br>チャットで<br>情報交換<br></h6>
       </div>
       <div class="outgo-se">
        <h5>発信</h5>
        <h6><br>ブログの投稿が<br>可能になる</h6>
       </div>
     </div>
     <div class="bottom-bottom">
      <a class="button4" href="/signup">アカウント作成</a>
      <a class="button5" href="/login">ログイン</a>
     </div>
    </div>
  </div>

  <div class="t7">
      <img src="/header.jpg" class="under-logo" width=220 height=60>
      <img src="/ひよこ.png" class="animal-logo" width=90 height=75>
  </div>
</div>
