<%# 検索バー %>
    <div class="kyc-search-bar">
        <input class="kyc-search-box" type="text" placeholder="キーワードを入力" autocomplete="off">
        <i class="material-icons md-21" id ="kyc-search-mark">search</i>
    </div>