<%# 検索バー %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <form method="get" action="#" class="search_container">
    <input type="text" size="25" placeholder="キーワード入力">
    <input type="submit" value="&#xf002">
    </form>

<%# ブログ表示部分 %>
<div class="blog-list">
    <div class="blog-display">
    <h2>タイトルが入ります<h2>
        <h5><br>吾輩は猫である。 名前はまだない。 <br>
        どこで生れたか頓と見当がつかぬ。<br> 
        何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br><br>
        </h5>
        <a href= "">表示</a>
    </div>

    <div class="blog-display">
    <h2>タイトルが入ります<h2>
        <h5><br>吾輩は猫である。 名前はまだない。 <br>
        どこで生れたか頓と見当がつかぬ。<br> 
        何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br><br>
        </h5>
        <a href= "">表示</a>
    </div>

<%# ジャンルから探す %>
    <div class="blog-genre">
        <h5>ジャンルから探す</h5>
        <ul>
            <li> あいうえお </li>
            <li> あいうえお </li>
            <li> あいうえお </li>
            <li> あいうえお </li>
            <li> あいうえお </li>
            <li> あいうえお </li>
            <li> あいうえお </li>
        </ul>
    </div>
</div>

