/* 共通部分 ================================ */
* {
  /* 全ての要素にpadingやborderも100%に含める */
  box-sizing: border-box; 
  /* outline:solid #ff0077; */
  /* font-family:'メイリオ', 'Meiryo', sans-serif; */
  font-family: "M PLUS Rounded 1c";
}

html {
  /* font: 100%/1.5 'メイリオ', 'Meiryo', sans-serif; */
  font-family: "M PLUS Rounded 1c";
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  /* リストの先頭のマーカをなくす */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  outline-width: 0;
}

img{
  object-fit: cover;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

body {
  color: #333739;
  margin: 0;
  min-height: 100vh;
  background-image: url("/グラデーション.png");
}

.blackcover{
	position: fixed; /* ブラウザの定位置に固定 */
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: calc(100% - 65px);
	top: 65px;;
	left: 0; 
	z-index: 9; /* 要素をコンテンツより前面に */
  transition: all 0.6s;
  opacity:0;
  visibility:hidden;
}

.wrap {
	overflow: hidden;
}

/* ヘッダー ================================ */
header {
  height: 65px;
  position: fixed;
  top:0px;
  z-index: 8;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05); /*これを付け足し*/
}

.changetest{
  background-color: #ff93c3;
}

.header_logo {
  position:relative;
  margin-top:7px;
  left:30px;
  display:inline-block;
}

.header_menus {
  float: right;
  padding-right: 4%;
  margin-top:2px;
  height:60px;
  /* background-color:rgb(21, 255, 0); */
  text-align:center;
}

.header_menus a{
  position:relative;
  display:inline-block;
}

.header_select { 
  width:130px;
  height:20px;
  /* background-color:aqua; */
  border-left:1px solid#ffffff;
  margin-top:19px;
}

.header_space{
  width:10px;
  height:20px;
  position: relative;
  top: -11px;
  /* background-color:aqua; */
  text-align:center;
  border-left:1px solid#ffffff;
}

.header_text {
  position:relative;
  top:-19px;
  left:0px;
  width:105%;
  height:60px;
  padding-top:13px;
  font-size:11px;
  font-weight:600;
  color:white;
  font-weight:1000;
  /* background-color:aqua; */
}

.explanation{
  width:150px;
}

.header_blog{
  width:130px;
}

.header_chat{
  width:110px;
}

.header_icon{
  position:relative;
  display:inline-block;
  top:4px;
  width:20px;
  height:20px;
  margin-right:2px;
}



.header_menus img{
  position:relative;
  border-radius: 50%;
  box-shadow: 0 1px 13px #b9b9b9;
  /* border:1px solid #ffcbe3; */
  object-fit: cover;
  margin-top:-10px;
  margin-left:10px;
  position: relative;
  top: -13px;
}


.test-header_menus{
  float: right;
  padding-right: 2%;
  margin-top:2px;
  width:630px;
  height:60px;
  /* background-color:red; */
}

.test-header_select{
  width: 100px;
  height: 30px;
  /* background-color:aqua; */
  border-left:1px solid#ffffff;
  margin-top:19px;
}

.test-header_select_img{
  position:relative;
  top:5px;
  left:39%;
  transform:translateY(-50%);
  width:27px;
  height:27px;
  margin-right:2px;
}

.test-header_select_img img{
  display: block;
  height: 100%;
  width: 100%;
}

.test-header_menus a{
  position:relative;
  display:inline-block;
}

.test-header_menus img{
  position:relative;
  border-radius: 50%;
  box-shadow: 0 1px 13px #b9b9b9;
  /* border:1px solid #ffcbe3; */
  object-fit: cover;
  margin-top:-27px;
  margin-left:10px;
  top: 0px;
}

.test-header_text {
  position:absolute;
  top:0px;
  left:0px;
  width:105%;
  height:60px;
  padding-top:17px;
  font-weight:600;
  color:white;
  font-weight:1000;
  /* background-color:aqua; */
}
.test-header_text p{
  position: relative;
  top: -10px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size:7px;
  padding-left: 4px;
}

.test-header_icon{
  position:relative;
  top:5px;
  left:39%;
  transform:translateY(-50%);
  width:27px;
  height:27px;
  margin-right:2px;
}


/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 8;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}



/* 最初のロゴのフェード ========================== */
.logo_fadein {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 999;
}

.logo_fadein p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.register-margin{
  width:100%;
  height:70px;
  position:relative;
}

/* ユーザポップアップ ========================== */
.user_popup{
  position: fixed;
  top: 60px;
  right: 2%;
  width: 230px;
  height: 259px;
  background-color: #ffe8f3;
  z-index: 12;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  display:none;
}

.exepting{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:10;
  display:none;
}

.user_popup_name{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:80px;
  background-color:#d0e5ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user_popup_name img{
  position: relative;
  top: 10px;
  left: 50%;
  transform:translate(-50%);
  border-radius: 50%;
  object-fit: cover;
}
.user_popup_name p{
  position: absolute;
  top: 49px;
  width:100%;
  text-align:center;
  font-size:19px;
  font-weight:800;
}

.user_popup_select{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:60px;
  border-bottom:1px solid #acacac;
}

.user_popup_select{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:60px;
}

.user_popup_select p{
  position: absolute;
  top: 18px;
  left: 50px;
  font-size:17px;
}

.user_popup_select img{
  position: absolute;
  top: 12px;
  left: 13px;
  width: 35px;
  height: 35px;
}

/* パンくずリスト ========================== */
.breadcrumbs{
  position:absolute;
  top:80px;
  left:40px;
  z-index:7;
  color:#6e6e6e;
  font-size:15px;
}

.breadcrumbs a{
  color:#6e6e6e
}
/* z-index
20--最初のロゴ
10--サイドバー
9---半透明黒背景
8---ヘッダー

*/

/* ヘッダーメニューレスポンシブ--------------------------------------------------- */
@media screen and (min-width: 829px) {
  .header_user{
    display:none;
  }

  .sidebar{
    display:none;
  }

  .sidebar_menu{
    display:none
  }

  .sidebar_menu_logo{
    display:none;
  }

  .menu{
    display:none;
  }
}

@media screen and (max-width: 830px) {
  .test-header_menus{
    display:none;
  }

  .menu{
    width:50px;
    height:50px;
    position:absolute;
    top:10px;
    left:10px;
  }

  /* 変化するボタンの設定 */
  .openbtn{
    position: relative;
    /* background:#D54884; */
    cursor: pointer;
    width: 50px;
    height:50px;
    border-radius: 5px;
  }

  /*ボタン内側*/
  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
     background: #fff;
    width: 45%;
  }


  .openbtn span:nth-of-type(1) {
  top:13px;	
  }

  .openbtn span:nth-of-type(2) {
  top:19px;
  }

  .openbtn span:nth-of-type(3) {
  top:25px;
  }

  .openbtn span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-5px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  }

  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

  .openbtn.active span:nth-of-type(1) {
    top: 14px;
    left: 17px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(2) {
  opacity: 0;
  }

  .openbtn.active span:nth-of-type(3){
    top: 26px;
    left: 17px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .openbtn.active span:nth-of-type(3)::after {
    content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top:3px;
    left:1px;
  }

  .opacity1{
    opacity:1;
    visibility:visible;
  }

  .header_user{
    position:relative;
    right:13px;
    top:13px;
    /* border:1px solid #ffcbe3; */
    float:right;
  }
  .header_user img{
    border-radius: 50%;
    box-shadow: 0 1px 13px #b9b9b9;
    object-fit: cover;
  }

  .header_logo {
    position: relative;
    margin-top: 7px;
    left:50%;
    transform:translateX(-50%);
  }

  /* サイドバー================================ */

  .sidebar{
    z-index:10;
    width:230px;
    height:calc(100% - 65px);
    background-color:#ffe8f3;
    position:fixed;
    top:65px;
    left: -100%;
    transition: all 0.6s;
  }
  .panelactive{
    left: 0;
  }

  .sidebar_menu{
    position:relative;
    width:100%;
    height:70px;
    border-bottom:1px solid #6e6e6e;
  }

  .sidebar_menu_logo{
    position:absolute;
    top:19px;
    left:13px;
    width:30px;
    height:30px;
  }

  .sidebar_menu p{
    position:absolute;
    top:23px;
    left:50px;
    font-size:17px;
    width:165px;
    font-weight:800;
  }

}
