.blog_view-top{
    position: relative;
    background-image: url("/haikei.png"); 
    background-size: cover;
    top: 65px;
}

.v4{
    position: relative;
    text-align: center;
    top: 80px;
    left: 15%;
    width: 70%;
    max-width: 70%;
    height: auto;
}

.blog_view-display{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 15px;
    top: 5px;
    width: 260px;
    height: 220px;
    min-width: 260px;
    min-height: 220px;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 25px;
    background-color: #fff7fc;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
}

.blog-view-image{
    position: relative;
    width: 100%;
    height: 80px;
}

.v5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    top: 80px;
    left: 15%;
    width: 70%;
    height: 320px;
    display: flex;
}

.v6{
    position: relative;
    resize: none;
    top: 80px;
    left: 15%;
    width: 70%;
    min-width: 600px;
    min-height: 550px;
    height: 550px;
    margin-top: 40px;
    display: flex;
}

.v7{
    position: relative;
    top: 60px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: #ff93c3;
}