.main-blog-show{
    position: relative;
}

.main-frame{
    position: relative;
    resize: none;
    text-align: center;
    top: 115px;
    left: 5%;
    width: 70%;
    height: 1500px;
    padding: 10px;
    margin-bottom: 175px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    background-color: #ffffff;
}

.blog-title{
    position: relative;
    width:90%;
    height: auto;
    font-weight: bold;
    font-size: 28px;
    color: black;
    top: 40px;
    left:50px;
    text-align:left;
}

.blog-title p{
    position:relative;
    margin-top:5px;
    font-size:15px;
    font-weight:normal;
}

.blog_show_tags{
    position:relative;
    width:100%;
    height:auto;
    flex-wrap:wrap;
}

.blog_show_tags p{
    position: relative;
	display: inline-block;
	margin: 0 .6em .6em .6em;
	padding: .6em .6em .6em 1.2em;
	line-height: 1;
	color: rgb(77, 77, 77);
	text-decoration: none;
	background-color: #ffdef8;
}

.blog_show_tags p:before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	border-width: 1.1em 1em 1.1em 0;
	border-style: solid;
	border-color: transparent #ffdef8 transparent transparent;
}
.blog_show_tags p:after {
	position: absolute;
	top: center;
	left: 0;
	content: '〇';
	color: #fff;
}

.blog-image{
    position: relative;
    width:auto;
    max-width: 600px;
    height: 320px;
    margin-top:100px;
    left:50%;
    transform:translateX(-50%)
}

.show-img{
    position: relative;
    width: auto;
    max-width: 600px;
    height: 100%;
}

.blog-content{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: 100px;
    margin-bottom:50px;
}

.show_content_size{
    text-align:left;
    padding-left:30px;
    padding-right:20px;
}

.plofile-frame{
    position: sticky;
    bottom: 0px;
}

.plofile{
    position: fixed;
    resize: none;
    top: 114px;
    right: 33px;
    width: 19%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fed1e6;
    text-align: center;
}

.blog-plofile{
    position: fixed;
    top: 165px;
    right: 33px;
    width: 19%;
    height: 360px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 5px;
    background-color: #ffffff;
}


.author-img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.author-name{
    position: relative;
    font-size: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

.author-chat{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 90%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px;
    padding-left: 8px;
    text-align:center;
    margin-bottom:10px;
}

.author-plofile{
    position: relative;
    font-size: 15px;
    margin-top:10px;
}

.author-tag{
    position: relative;
    margin-top:30px;
    left: 0%;
    bottom: 25px;
    font-weight: bold;
}

.unliked-btn {
    color: #8899a6;
}

.liked-btn {
    color: #ff2581;
}

.fa {
    font-size: 25px;
    margin-right: 3px;
}

.like{
    position: relative;
    left: 30px;
    margin-top: 90px;
    text-align: left;
}

.blog-edit{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 110px;
    height: 40px;
    top: 0px;
    left: 0px;
    padding: 7px;
}

.blog-destroy{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 110px;
    height: 40px;
    top: -40px;
    left: 128px;
    padding: 7px;
}

.blog_show_bottom{
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    padding-top:20px;
    /* margin-bottom: 65px; */
    background-color: #ff93c3;
}

.blog_user_change{
    width:250px;
    height:auto;
    /* border:1px solid red; */
    margin-right: 0;
    margin-left: auto;
    display: block;
    margin-top:-36px;
}
@media screen and (max-width: 1000px) {    
    .main-frame{
        width: 90%;
    }
    
    .blog-title{
        font-size: 18px;
        width:97%;
    }
    
    .blog-image{
        max-width: 500px;
        width:80%;
        height: auto;
        margin-top:60px;
    }
    
    .show-img{
        position: relative;
        width: 100%;
        height: 100%;
    }

    
    .blog_show_tags {
        margin-top:10px;
    }
    .blog-content{
        position: relative;
        font-weight: bold;
        font-size: 14px;
        color: black;
        margin-top:50px;
    }
    
    .plofile-frame{
        position: relative;
        left: 5%;
        width: 90%;
        height: auto;
    }
    
    .plofile{
        position: relative;
        resize: none;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 45px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fed1e6;
    }
    
    .blog-plofile{
        position: relative;
        top: 10px;
        left: 0%;
        width: 100%;
        height: 255px;
        padding: 10px;
        margin-bottom: 100px;
    }
    
    .blog-edit{
        position: relative;
        font-weight: bold;
        color: #ffffff;
        background-color: #a4e38b;
        border-radius: 25px;
        width: 70px;
        height: 40px;
        top: 1000px;
        left: 50%;
        padding: 7px;
    }
    
    .blog-destroy{
        position: relative;
        font-weight: bold;
        color: #ffffff;
        background-color: #a4e38b;
        border-radius: 25px;
        width: 70px;
        height: 40px;
        left: 113px;
        top: 960px;
        left: 75%;
        padding: 7px;
    }
    
    .author-img{
        position: relative;
        width: 80px;
        height: 80px;
        border-radius: 50px;
        left: 50%;
        margin-top: 25px;
    }
    
    .author-name{
        position: relative;
        font-size: 15px;
        bottom: 0px;
        left: 50%;
    }
    
    .author-chat{
        width: 80%;
        height: 30px;
        left: 50%;
        padding: 3px;
        padding-left: 9px;
    }
    
    .author-plofile{
        left: 0%;
        padding: 0 10px 0 10px;
        margin-top: 20px;
    }

    .show_profile_left{
        width:40%;
        height:100%;
        float:left;
    }
    .show_profile_right{
        width:60%;
        height:100%;
        float:right;
    }
    
    .author-tag{
        left: 0%;
        padding: 0 10px 0 10px;
        margin-top: 50px;
    }
    
    .unliked-btn {
        color: #8899a6;
    }
      
    .liked-btn {
        color: #ff2581;
    }
    
    .fa {
        font-size: 25px;
        margin-right: 3px;
    }

    .like{
        margin-top:40px;
    }
    
}

@media screen and (max-width: 700px) { 
    .blog-title{
        left:15px;
        padding-right:10px;
    }
}

@media screen and (max-width: 570px) { 
    .author-chat{
        font-size:10px;
        padding: 0px;
        padding-left: 0px;
        padding-top: 7px;
    }
}