.blog_view-top{
    position: relative;
    background-color: #fff7fc;
    top: 65px;
}

.v1{
    position: relative;
    display: flex;
    width: 100%;
    height: 110px;
}

.blog_view-genre{
    position: absolute;
    top: 46px;
    left: 20%;
    color: #9b9b9b;
}

.v2{
    left: 15%;
    width: 70%;
    position: relative;
    resize: none;
    display: flex;
    justify-content: left;
    border-bottom:5px solid #ffeb9d;
}

.v3{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    height: 400px;
    display: flex;
}

.v4{
    position: relative;
    text-align: center;
    top: 80px;
    left: 15%;
    width: 70%;
    max-width: 70%;
    height: 1000px;
}

.blog_view-display{
    position: relative;
    display: inline-block;
    text-align: center;
    left: 15px;
    top: 5px;
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    margin-bottom: 100px;
    margin-right: 30px;
    padding: 10px;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
}

.blog-view-image{
    position: relative;
    width: 100%;
    height: 80px;
}

.v5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    top: 80px;
    left: 15%;
    width: 70%;
    height: 320px;
    display: flex;
}

.v6{
    position: relative;
    resize: none;
    top: 80px;
    left: 15%;
    width: 70%;
    min-width: 600px;
    min-height: 550px;
    height: 550px;
    display: flex;
}

.v7{
    position: relative;
    top: 60px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #fed1e6;
}