.main-blog-new{
    position: relative;
    background-color: #fff7fc;
    top: 65px;
    height: 650px;
}

.blog-form{
    position: relative;
    resize: none;
    text-align: center;
    top: 120px;
    left: 15%;
    width: 70%;
    min-width: 620px;
    height: 470px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 5px;
    background-color: #ffffff;
}

.blog-form-title{
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.blog-form-title textarea{
    position: relative;
    width: 100%;
    height: 100px;
}

.blog-form-content{
    position: relative;
    width: 100%;
    height: 300px;
}

.blog-form-content textarea{
    position: relative;
    width: 100%;
    height: 300px;
}

.blog-post-button{
    position: relative;
    top: 10px;
}