.main-blog-new{
    position: relative;
    background-color: #fff7fc;
    height: 1682px;
    top: 65px;
}

.blog-form{
    position: relative;
    resize: none;
    text-align: center;
    top: 70px;
    left: 15%;
    width: 70%;
    min-width: 620px;
    padding: 10px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
    background-color: #ffffff;
}

.blog-form-ex{
    position: relative;
    width: 200px;
    border-radius: 10px;
    background-color: #fff7fc;
}

.blog-form-title{
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.blog-form-image{
    position: relative;
    top: 60px;
    left: 15%;
    width: 70%;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.blog-noimage{
    position: relative;
    width: 100%;
    height: 100%;
}

.image-button{
    position: relative;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    background-color: #fff7fc;
    padding: 6px;
    height: 40px;
    width: 93px;
    top: -154px;
    left: 62%;
}

.blog-form-title textarea{
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.blog-form-content{
    position: relative;
    top: 55px;
    width: 100%;
    height: 600px;
}

.blog-form-content textarea{
    position: relative;
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.blog-post-button{
    position: relative;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 10px;
    background-color: #fff7fc;
    padding: 6px;
    height: 40px;
    width: 100px;
    top: 10px;
    margin-bottom: 5px;
    left: 42%;
}

.blog-tag-select{
    position: relative;
    border: 1px solid rgb(151, 151, 151);
    background-color: #ffffff;
    height: 300px;
    width: 100%;
    top: 5px;
}

.blog-form-error{
    color: brown;
}