.main-post-show{
    position: relative;
}

.main-frame{
    position: relative;
    resize: none;
    text-align: center;
    top: 50px;
    left: 5%;
    width: 70%;
    min-width: 620px;
    height: 1000px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 5px;
    background-color: #ffffff;
}

.blog-title{
    position: relative;
    height: auto;
    font-weight: bold;
    font-size: 25px;
    color: black;
    top: 50px;
}

.blog-image{
    position: relative;
    width: 100%;
    height: 400px;
    top: 100px;
    border: 1px solid #000000;
}

.show-img{
    position: relative;
    width: 100%;
    height: 100%;
}

.blog-content{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    color: black;
    top: 150px;
}

.plofile{
    position: fixed;
    resize: none;
    top: 114px;
    left: 78%;
    width: 19%;
    height: 45px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fed1e6;
}

.blog-plofile{
    position: fixed;
    resize: none;
    top: 165px;
    left: 78%;
    width: 19%;
    height: 360px;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 5px;
    background-color: #ffffff;
}

.blog-edit{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 110px;
    height: 40px;
    top: 35px;
    padding: 7px;
}

.blog-destroy{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 110px;
    height: 40px;
    left: 113px;
    top: -4px;
    padding: 7px;
}

.author-img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    left: -25%;
    top: 15px;
}

.author-name{
    position: relative;
    font-size: 20px;
    bottom: 60px;
    left: 55px;
}

.author-chat{
    position: relative;
    font-weight: bold;
    color: #ffffff;
    background-color: #a4e38b;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    left: 105px;
    top: -55px;
    padding: 7px;
}

.author-plofile{
    position: relative;
    font-size: 15px;
    bottom: 40px;
}

.author-tag{
    position: relative;
    left: -45px;
    bottom: 25px;
    font-weight: bold;
}

.unliked-btn {
    color: #8899a6;
}
  
.liked-btn {
    color: #ff2581;
}

.fa {
    font-size: 25px;
    margin-right: 3px;
  }