.main-blog{
    position: relative;
    background-color: #fff7fc;
}

.b1{
    position: relative;
    display: flex;
    top: 50px;
    left: 5%;
    width: 95%;
    height: 1000px;
}

.b2{
    position: relative;
    display: flex;
    left: 15%;
    width: 70%;
    height: 170px;
}

.blog-name{
    resize: none;
    position: relative;
    top: 85%;
    width: 100%;
    min-width: 450px;
    height: 10%;
    padding: 20px;
    margin-bottom: 100px;
    text-align: left;
    background-color: #ffffff;
}

.content{
    resize: none;
    position: relative;
    text-align: center;
    width: 70%;
    min-width: 620px;
    height: 90%;
    padding: 10px;
    margin-bottom: 100px;
    border: 1px
    solid #a4e38b;
    border-radius: 25px;
    background-color: #ffffff;
}

.b3{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    min-width: 600px;
    min-height: 520px;
    height: 520px;
    display: flex;
}

.b4{
    position: relative;
    resize: none;
    left: 5%;
    border: 1px
    solid #a4e38b;
    border-radius: 25px;
    width: 255px;
    min-width: 200px;
    height: 900px;
    background-color: #ffffff;
}

.blog-recommend{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 20px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog-recommend2{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 40px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog-recommend3{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 60px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog-recommend4{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 80px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog-recommend5{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 100px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog-recommend6{
    position: relative;
    text-align: center;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    padding: 10px;
    left: 25px;
    top: 120px;
    width: 200px;
    min-width: 150px;
    height: 120px;
}

.blog_pickup{
    position: relative;
    color: #9b9b9b;
    width: 100px;
    top: 10px;
    left: 39%;
}

.userimage{
    position: relative;
    border-radius: 50px;
    left: 105px;
    bottom: 54px;
}