.f60{
    font-weight:600;
}

.f90{
    font-weight:900;
}

.pink{
    color:#ff4784;
}

.bg{
    background-color:rgb(215, 214, 214);
}

/* ヘッダー写真ーーーーーーーーーーーーーーーーーーーーーーーーー */
.use_margin{
    width:100%;
    height:30px;
    position:relative;
}

.use_top{
    width:90%;
    height:auto;
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.use_main{
    width:100%;
    height:150px;
    position:relative;
    top:40px;
    left:0px;
    text-align:center;
}

/* 三つの特徴ーーーーーーーーーーーーーーー */

.field{
    width:100%;
    height:250px;
    position:relative;
    margin-top:40px;
    left:0px;
    display:flex;   /*親要素に指定*/
}

.field p{
    margin:20px 0 0 0;
}

.field_left{
    width:37%;
    height:100%;
    margin-left:11%;
}

.field_right{
    width:37%;
    height:100%;
    margin-left:4%;
}

.field_title{
    padding-top:20px;
    font-size:2.3vw;
}

.field_img1{
    width:310px;
    height:auto;
    position:relative;
    top:7%;
    left:50%;
    transform: translateX(-50%);
}

.field_img2{
    width:300px;
    height:auto;
    position:relative;
    top:8%;
    left:50%;
    transform: translateX(-50%);
}

.field_img3{
    width:180px;
    height:auto;
    position:relative;
    top:1%;
    left:48%;
    transform: translateX(-50%);
}

/* アカウント登録ーーーーーーーーーーーーー */
.use_create{
    margin-top:100px;
    width:100%;
    height:250px;
    background-color:white;
    text-align:center;
}

.use_create p{
    font-size:2vw;
    font-weight:600;
    padding-top:70px;
    margin-bottom:10px;
}


.use_create a{
    text-decoration: underline;
}

/* ブログ一覧---------------------------- */
.use_blog{
    width:100%;
    height:300px;
    margin-top:100px;
    text-align:center;
}

.use_blog p{
    font-size:30px;
    text-decoration: underline;
}

.use_topics{
    margin-top:10px;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
}

.use_topic{
    width:290px;
    height:200px;
    background-color:white;
    margin-left:15px;
    border-radius:10px;
}

.use_a{
    text-align:right;
    padding:10px 20px 0 0;
}

/* お問い合わせ------------------------------ */
.use_infomation{
    width:100%;
    height:300px;
    background-color:white;
    margin-top:100px;
}

.use_infomation h2{
    padding-top:50px;
}


/* 色変更ボタン */
.change_blue{
    background-color:rgb(102, 217, 255);
    position:fixed;
    bottom:0px;
    left:0px;
    width:50px;
    height:20px;
    cursor:pointer;
}

.change_pink{
    background-color:#ff4784;
    position:fixed;
    bottom:0px;
    left:50px;
    width:50px;
    height:20px;
    cursor:pointer;
}

.change_usupink{
    background-color:#ffbbda;
    position:fixed;
    bottom:0px;
    left:100px;
    width:50px;
    height:20px;
    cursor:pointer;
    color:#ff93c3
}

.header1{
    position:fixed;
    top:400px;
    width:50px;
    height:150px;
    background-color:white;
}

.hed1{
    position:relative;
    width:100%;
    height:25px;
    border-bottom:1px solid #767676;
    cursor:pointer;
}

