.f60{
    font-weight:600;
}

.f90{
    font-weight:900;
}

.pink{
    color:#ff4784;
}

.bg{
    background-color:rgb(215, 214, 214);
}

.use_background{
    width:100%;
    background-image: url(/haikei.png);
    background-repeat: repeat repeat;
    background-size:contain;
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
}

.use_base{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:100%;
    max-width:1280px;
}

/* ヘッダー写真ーーーーーーーーーーーーーーーーーーーーーーーーー */
.use_margin{
    width:100%;
    height:65px;
    position:relative;
}

.use_top{
    width:90%;
    max-width:1500px;
    height:auto;
    position:relative;
    margin-top:10px;
    left:50%;
    transform:translateX(-50%);
}

.use_top2{
    position:relative;
    width:100%;
    text-align:center;
    font-size:24px;
}

.use_main{
    width: 670px;
    height: auto;
    position: relative;
    padding-top:50px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom:100px;
}

.use_main_img{
    width:40%;
    min-width:450px;
    height:auto;
    position:relative;
    margin-top:30px;
    left:0px;
}

@media screen and (max-width: 500px) {
    .use_main_img{
        width:100%;
        min-width:0px;
    }
}



.use_main h3{
    margin-bottom:20px;
    font-size:24px;
}

.use_main p{
    line-height:30px;
}

.field_back{
    background-color:#faeef3;
    padding-top:50px;
    padding-bottom:50px;
}

.use_main2{
    width:100%;
    height:100px;
    position:relative;
    margin-top:0px;
}

.use_main2 p{
    width:600px;
    position:relative;
    top:30px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
}



/* 三つの特徴ーーーーーーーーーーーーーーー */

.field{
    width:100%;
    height:250px;
    position:relative;
    margin-top:40px;
    left:0px;
    display:flex;   /*親要素に指定*/
}

.field_block{
    width:100%;
    height:100%;
    max-width:1350px;
    position:relative;
    top:0px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}

.field_top{
    margin-top:130px;
}


.field p{
    margin:20px 0 0 0;
}

.field_left{
    width:37%;
    height:100%;
    margin-left:11%;
}

.field_right{
    width:37%;
    height:100%;
    margin-left:4%;
}

.field_title{
    padding-top:20px;
    font-size:21px;
}

@media screen and (min-width: 1240px) {
    .field_title{
        font-size:30px;
    }

    .use_main h3{
        margin-bottom:20px;
        font-size:33px;
    }

    .use_top2{
        font-size:31px;
    }
}

.field_img1{
    width:310px;
    height:auto;
    position:relative;
    top:7%;
    left:50%;
    transform: translateX(-50%);
}

.field_img2{
    width:300px;
    height:auto;
    position:relative;
    top:8%;
    left:50%;
    transform: translateX(-50%);
}

.field_img3{
    width:180px;
    height:auto;
    position:relative;
    top:1%;
    left:48%;
    transform: translateX(-50%);
}

/* アカウント登録ーーーーーーーーーーーーー */
.use_create{
    margin-top:100px;
    width:100%;
    height:250px;
    /* background-color:rgb(255, 255, 255); */
    text-align:center;
}

.use_create p{
    font-size:2vw;
    font-weight:600;
    padding-top:70px;
    margin-bottom:10px;
}


.use_create a{
    text-decoration: underline;
}

.use_button{
    width:400px;
    height:auto;
    position:relative;
    top:0px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}

.use_create_button1{
    position:relative;
    top:40px;
    left:36px;
    width: 150px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 3px solid #95cf7f;
    color: #ffffff;
    border-radius: 20px;
}
.use_create_button2{
    position:relative;
    top:40px;
    left:58px;
    width: 150px;
    height: 40px;
    padding: 5px;
    background-color: #ffffff;
    border: 3px solid #95cf7f;
    color: #a4e38b;
    border-radius: 20px;
}

.use_button a{
    text-decoration:none;
}

/* ブログ一覧---------------------------- */
.use_blog{
    width:100%;
    margin-top:100px;
    text-align:center;
}

.use_blog p{
    font-size:30px;
    text-decoration: underline;
}

.use_topics{
    margin-top:10px;
    width:100%;
    height:auto;
    display:flex;
    justify-content: center;
}

.use_topic{
    width:290px;
    height:200px;
    background-color:white;
    margin-left:15px;
    border-radius:10px;
}

.use_a{
    text-align:right;
    padding:10px 20px 0 0;
}

/* お問い合わせ------------------------------ */
.use_infomation{
    width:100%;
    height:300px;
    background-color:white;
    margin-top:100px;
}

.use_infomation h2{
    padding-top:50px;
}


/* 色変更ボタン */
.change_blue{
    background-color:rgb(102, 217, 255);
    position:fixed;
    bottom:0px;
    left:0px;
    width:50px;
    height:20px;
    cursor:pointer;
}

.change_pink{
    background-color:#ff4784;
    position:fixed;
    bottom:0px;
    left:50px;
    width:50px;
    height:20px;
    cursor:pointer;
}

.change_usupink{
    background-color:#ffbbda;
    position:fixed;
    bottom:0px;
    left:100px;
    width:50px;
    height:20px;
    cursor:pointer;
    color:#ff93c3
}

.header1{
    position:fixed;
    top:400px;
    width:50px;
    height:150px;
    background-color:white;
}

.hed1{
    position:relative;
    width:100%;
    height:25px;
    border-bottom:1px solid #767676;
    cursor:pointer;
}

@media screen and (min-width: 851px) {
   .r_field{
       display:none;
   }
}
@media screen and (max-width: 850px) {
  .use_top{
    width:100%;
    margin-top:30px;
  }

  .use_main{
    padding-top:20px;
    width:90%;
  }
  .use_main h3{
    font-size:22px;
  }
  .use_main p{
    font-size:14px;
  }

  .use_main2{
    font-size:1rem;
    width:90%;
    left:50%;
    transform:translateX(-50%);
    overflow-wrap: break-word;
  }

  .use_main2 p{
    width:100%;
  }

  .field{
    display:none;
  }

  .field_block{
    width:100%;
    height:100%;
    position:relative;
    top:0px;
    display:block;
  }

  .r_field{
    width:100%;
    height:auto;
    position:relative;
    margin-top:100px;
    left:0px;
  }

  .r_img{
    width:100%;
    height:200px;
  }

  .r_img2{
    width:100%;
    height:190px;
  }

  .r_img3{
    width:100%;
    height:240px;
  }
  .r_field img{
    position:relative;
    left:50%;
    transform:translateX(-50%);
  }

  .field_left{
    width:100%;
    margin-left:0px;
    padding:30px 15px 0 15px;
  }

  .field_title{
    margin-bottom:10px;
  }

  .use_create p{
    font-size:23px;
    padding-top:30px;
  }
}

@media screen and (max-width: 500px) {
    .use_main h3{
      font-size:20px;
    }
    .use_main p{
      font-size:11px;
    }

    .use_top2{
        font-size:4.2vw;
    }

    .use_main2 p{
        top:1rem;
    }
}


/* フェードインcss */
.element {
    /* 最初は非表示 */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
  }
  /* フェードイン時に入るクラス */
  .is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

