.test-top-main {
    position: relative;
    height: auto;
}

.slick-slider{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slidetopimage{
    width: auto;
    height: 100%;
    object-fit: cover;
}

.slick-track{
    height: 50vh;
}

.test-top-title {
    position: relative;
    height: 450px;
}

.test-top-img {
    position: relative;
    width: 100%;
    height: 450px;
}

.test-top-cc {
    position: relative;
    bottom: 250px;
    left: 28%;
    color:#ffffff;
    width: 470px;
    font-size: 40px;
    transform: translateX(-50%);
    text-shadow:1px 1px 3px #888888;
    font-weight: bold;
    z-index: 2;
}

.test-top-blog-search{
    position: relative;
    height: 900px;
    background-image: url("/haikei.png"); 
    background-size: cover;
}

.test-top-blog-popular{
    position: relative;
    left: 15%;
    top: 50px;
    width: 70%;
}

.test-top-blog-new{
    position: relative;
    left: 15%;
    top: 70px;
    width: 70%;
}

.test-top-user-popular{
    position: relative;
    left: 15%;
    top: 90px;
    width: 70%;
}

.test-top-text {
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

.test-top-blog-display{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 5px;
    width: 260px;
    height: 220px;
    min-width: 260px;
    min-height: 220px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff7fc;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
}

.test-top-user-display{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 5px;
    width: 260px;
    height: 150px;
    min-width: 260px;
    min-height: 150px;
    margin-right: 30px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff7fc;
    box-shadow: 2px 2px 2px 0 #7d7d7d;
}

.test-top-user-img{
    position: relative;
    border-radius: 100px;
    top: 5px;
    right: 5%;
}

.test-top-pl {
    position: relative;
    top: 20px;
    font-size: 15px;
    text-align: right;
}

.test-top-tag-search{
    position: relative;
    background-color: rgb(253, 243, 229);
    height: 455px;
}

.test-top-search-view{
    position: relative;
    left: 15%;
    top: 50px;
    width: 70%;
}

.test-top-register {
    position: relative;
    height: 600px;
    background-image: url("/haikei.png");
    background-size: cover;
}

.test-top-r-register{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    left: 15%;
    width: 70%;
    height: 450px;
    top: 70px;
    padding: 10px;
    margin-bottom: 100px;
    border: 25px solid #FFDDED;
    border-radius: 10px;
    background-color: #ffffff;
}

.test-top-bottom {
    position: relative;
    display: flex;
    text-align: center;
    top: 100px;
    width: 100%;
    height: 100px;
    background-color: #ff93be;
}

#box{
    width: 50%;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffbd67;
}

#box.orange{
    background-color: #c7c7c7;
}

.line{
    position: relative;
    top: -1px;
    width: 100%;
    height: 10px;
    cursor: pointer;
    background-color: #ffbd67;
}

#box p{
line-height: 140px;
vertical-align: middle;
font-size: 20px;
font-weight:bold;
}

.tag-select{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
}




.main-top {
    position: relative;
    background-image: url("/haikei.png");
    background-size: cover;
    top: 65px;
}

.exp{
    position: relative;
    width: 100%;
    height: 250px;
    font-size: 40px;
    background-color: #fed1e6;
}

.topimage{
    position: relative;
    width: 100%;
    height: 360px;
}

.exp1{
    position: relative;
    color:#ffffff;
    width: 500px;
    text-align: center;
    top: -235px;
    left: 27%;
    font-size: 40px;
    transform: translateX(-50%);
    text-shadow:1px 1px 3px #888888;
    font-weight: bold;
    z-index: 2;
}

.exp2{
    position: relative;
    width: 500px;
    text-align: center;
    color:#2d2d2d;
    top: -175px;
    left: 30%;
    font-size: 12px;
    transform: translateX(-50%);
    z-index: 2;
}

.hianimal-logo{
    position: relative;
    bottom:20px;
    left: 4%;
}

.rianimal-logo{
    position: relative;
    top:31%;
    left: 40%;
}

.peanimal-logo{
    position: relative;
    top:28%;
    left: 38%;
}

.t1{
    position: relative;
    display: flex;
    width: 100%;
    height: 108px;
    top: 85px;
}

.search_container{
    position: absolute;
    top: 41px;
    left: 72%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #a4e38b;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 330px;
    overflow: hidden;
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #000000;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
}

.blog-genre{
    position: absolute;
    top: 45px;
    left: 15%;
    color: #9b9b9b;
}

.t3{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    top: 70px;
    height: 460px;
    display: flex;
}

.search-blog{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 460px;
    padding: 10px;
    margin-bottom: 100px;
    color: #9b9b9b;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.tag-view{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    top: 12px;
    left: 8%;
    width: 84%;
    height: 210px;
    padding: 10px;
    margin-bottom: 100px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
}

.tag-view-reco{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    top: -70px;
    left: 8%;
    width: 84%;
    height: 100px;
    padding: 10px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
}

.tag-button{
    position: relative;
    position: relative;
    margin-right: 5px;
    top: 10px;
    left: -200px;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    color: #484848;
    border-radius: 20px;
}

.button1{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.reco{
    position: relative;
    resize: none;
    left: 10%;
    width: 70%;
    height: 60px;
    top: 120px;
    display: flex;
    color: #ff93be;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.reco-blog{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    left: 0%;
    width: 100%;
    top: 95px;
    display: flex;
    height: 250px;
}

.t4{
    position: relative;
    resize: none;
    left: 10%;
    width: 70%;
    height: 60px;
    top: 90px;
    display: flex;
}

.pickup{
    position: relative;
    color: #ff93be;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    top: 25px;
}

.t5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    left: 0%;
    width: 100%;
    top: 90px;
    display: flex;
    height: 250px;
}

.blog-display{
    resize: none;
    position: relative;
    text-align: center;
    width: 275px;
    height: 250px;
    font-size: 22px;
    padding: 10px;
    min-width: 200px;
    min-height: 250px;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 #b6b6b6;
}

.blog-display-content{
    position: relative;
    font-size: 15px;
}

.y4{
    position: relative;
    resize: none;
    left: 10%;
    width: 70%;
    height: 60px;
    top: 70px;
    display: flex;
}

.y5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    left: 0%;
    width: 100%;
    top: 70px;
    display: flex;
    height: 200px;
}

.user-reco{
    resize: none;
    position: relative;
    text-align: center;
    width: 275px;
    height: 150px;
    padding: 10px;
    min-width: 200px;
    min-height: 150px;
    margin-bottom: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 #b6b6b6;
}

.top-username{
    position: relative;
    top: -90px;
    left: 58px;
}

.topuserimage{
    position: relative;
    border-radius: 100px;
    top: 13px;
    left: -55px;
}

.t6{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    min-width: 600px;
    min-height: 530px;
    top: 70px;
    height: 530px;
    display: flex;
}

.under{
    resize: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    top: 70px;
    padding: 10px;
    margin-bottom: 100px;
    border: 40px solid #FFDDED;
    background-color: #ffffff;
}

.t7{
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 70px;
    background-color: #ff93be;
}

.bottom-top{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 15px;
    width: 100%;
    height: 30%;
}

.manage{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.talk{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.outgo{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.bottom-middle{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 70px;
    width: 100%;
    height: 150px;
}

.manage-se{
    position: relative;
    text-align: center;
    width: 155px;
    height: 100%;
}

.talk-se{
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
}

.outgo-se{
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
}

.bottom-bottom{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 40px;
    width: 100%;
    height: 50px;
}

.button4{
    position: relative;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.button5{
    position: relative;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.under-logo{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.animal-logo{
    position: absolute;
    top: 25px;
    left: 90%;
    z-index: 10;
}

.manage-logo{
    position: absolute;
    bottom: 35px;
    left: 52%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.talk-logo{
    position: absolute;
    bottom: 32px;
    left: 52%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.outgo-logo{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}