.main-top {
    position: relative;
    background-color: #fff7fc;
}

.exp{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #fed1e6;
}

.topimage{
    position: relative;
    width: 50%;
    left: 60%;
    height: 250px;
}

.exp1{
    position: relative;
    color:#a4e38b;
    width: 400px;
    text-align: center;
    top: -180px;
    left: 30%;
    transform: translateX(-50%);
    text-shadow:
    1px 0 0 #ffffff,
    0 1px 0 #ffffff,
    -1px 0 0 #ffffff,
    0 -1px 0 #ffffff;
    z-index: 2;
}

.exp2{
    position: relative;
    width: 500px;
    text-align: center;
    color:#2d2d2d;
    top: -175px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 2;
}

.hianimal-logo{
    position: relative;
    bottom:20px;
    left: 4%;
}

.rianimal-logo{
    position: relative;
    top:31%;
    left: 40%;
}

.peanimal-logo{
    position: relative;
    top:28%;
    left: 38%;
}

.t1{
    position: relative;
    display: flex;
    width: 100%;
    height: 108px;
}

.search_container{
    position: absolute;
    top: 41px;
    left: 72%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    box-sizing: border-box;
    border: 1px solid #a4e38b;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 330px;
    overflow: hidden;
}
.search_container input[type="text"]{
    border: none;
    height: 2.0em;
}
.search_container input[type="text"]:focus {
    outline: 0;
}
.search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #000000;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
}

.blog-genre{
    position: absolute;
    top: 45px;
    left: 15%;
    color: #9b9b9b;
}

.t2{
    left: 15%;
    width: 70%;
    position: relative;
    resize: none;
    display: flex;
    justify-content: left;
}

.t3{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    height: 460px;
    display: flex;
}

.search-blog{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 460px;
    padding: 10px;
    margin-bottom: 100px;
    color: #9b9b9b;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.tag-view{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    top: 12px;
    left: 8%;
    width: 84%;
    height: 210px;
    padding: 10px;
    margin-bottom: 100px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
}

.tag-view-reco{
    position: relative;
    resize: none;
    text-align: center;
    box-sizing: border-box;
    top: -70px;
    left: 8%;
    width: 84%;
    height: 100px;
    padding: 10px;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
}

.tag-button{
    position: relative;
    position: relative;
    margin-right: 5px;
    top: 10px;
    left: -200px;
    width: 150px;
    height: 20px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    color: #484848;
    border-radius: 20px;
}

.button1{
    position: relative;
    top: -40px;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.t4{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    height: 60px;
    display: flex;
}

.pickup{
    position: relative;
    color: #9b9b9b;
    top: 30px;
}

.t5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    left: 15%;
    width: 70%;
    display: flex;
    height: 250px;
}

.blog-display{
    resize: none;
    position: relative;
    text-align: center;
    width: 275px;
    height: 250px;
    padding: 10px;
    min-width: 200px;
    min-height: 250px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 #7d7d7d;
}

.y4{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    height: 60px;
    display: flex;
}

.y5{
    position: relative;
    justify-content: space-evenly;
    resize: none;
    left: 15%;
    width: 70%;
    display: flex;
    height: 200px;
}

.user-reco{
    resize: none;
    position: relative;
    text-align: center;
    width: 275px;
    height: 150px;
    padding: 10px;
    min-width: 200px;
    min-height: 150px;
    margin-bottom: 100px;
    border: 1px solid #a4e38b;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 0 #7d7d7d;
}

.top-username{
    position: relative;
    top: -90px;
    left: 58px;
}

.topuserimage{
    position: relative;
    border-radius: 100px;
    top: 13px;
    left: -50px;
}

.t6{
    position: relative;
    resize: none;
    left: 15%;
    width: 70%;
    min-width: 600px;
    min-height: 530px;
    height: 530px;
    display: flex;
}

.under{
    resize: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding: 10px;
    margin-bottom: 100px;
    border: 40px solid #FFDDED;
    background-color: #ffffff;
}

.t7{
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #fed1e6;
}

.bottom-top{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 15px;
    width: 100%;
    height: 30%;
}

.manage{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.talk{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.outgo{
    resize: none;
    position: relative;
    text-align: center;
    width: 150px;
    height: 150px;
    padding: 50px;
    margin-bottom: 100px;
    border: 1px
    solid #ffb8da;
    border-radius: 200px;
    background-color: #ffb8da;
}

.bottom-middle{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 70px;
    width: 100%;
    height: 150px;
}

.manage-se{
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
}

.talk-se{
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
}

.outgo-se{
    position: relative;
    text-align: center;
    width: 150px;
    height: 100%;
}

.bottom-bottom{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 40px;
    width: 100%;
    height: 50px;
}

.button4{
    position: relative;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.button5{
    position: relative;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color: #a4e38b;
    border: 1px solid #6ea857;
    color: #ffffff;
    border-radius: 20px;
}

.under-logo{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.animal-logo{
    position: absolute;
    top: 25px;
    left: 90%;
    z-index: 10;
}

.manage-logo{
    position: absolute;
    bottom: 35px;
    left: 52%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.talk-logo{
    position: absolute;
    bottom: 32px;
    left: 52%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.outgo-logo{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}