.container {
  margin-top:4%;
  max-width: 540px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 89%;
  background-color: #f5f8fa;
}
.main p{
  margin-top:5px;
  font-size:15px;
  color:#828282;
  text-align:center;
}

.main a{
  color:#2dbac9;
  font-size:16px;
}

/* フォーム================================ */

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  border: 1px solid white;
  border-radius:20px;
}

.form-body {
  padding: 30px;
}

.form-body p{
  font-size:10px;
}

.form-body h2{
  margin:10px 0 10px 0;
  font-size:30px;
  font-family:"MSゴシック";
  text-align:center;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 80%;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #a4e38b;
  border-radius: 20px;
  margin-top:25px;
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.form input[type="submit"] {
  background-color: #a4e38b;
  color: white;
  cursor: pointer;
  width: 120px;
  border: 1px solid #6ea857;
  border-radius: 30px;
  letter-spacing: 2px; /*文字の幅間*/
  position:relative;
  left: 12%;
  margin-top: 25px;
  margin-bottom: 0;
}




/* ボタンの後に擬似的な文章を追加して行間調節 */
.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.login {
  letter-spacing: 5px;
}


/* 編集画面================================== */
.user-show {
  text-align: center;
}

.user {
  margin-top:20%;
  margin-bottom: 20px;
}

.user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 20px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}


/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: #f7e4ef;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-right a {
  font-size:20px;
}

.user-right a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
