.container {
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 89%;
  background-color: #f5f8fa;
}

/* フォーム================================ */

/* フォーム上の文字 */
.form-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-body {
  padding: 30px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  width: 120px;
  border: 1px solid #d8dadf;
  border-radius: 2px;
  letter-spacing: 2px; /*文字の幅間*/
  float: right;
}

/* ボタンの後に擬似的な文章を追加して行間調節 */
.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.login {
  letter-spacing: 5px;
}