.container {
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 89%;
  background-color: #f5f8fa;
}

/* フォーム================================ */

/* フォーム上の文字 */
.form-heading {
  font-weight: 300;
  margin: 40px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  border: 1px solid white;
  border-radius:10px;
}

.form-body {
  padding: 30px;
}

.form-body p{
  font-size:15px;
  margin-top:10px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border: 1px solid #aeafaf;
  border-radius: 10px;
}

.form input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  width: 120px;
  border: 1px solid #d8dadf;
  border-radius: 2px;
  letter-spacing: 2px; /*文字の幅間*/
  float: right;
  margin-top: 15px;
  margin-bottom: 0;
}

/* ボタンの後に擬似的な文章を追加して行間調節 */
.form-body:after {
  content: '';
  display: table;
  clear: both;
}

.login {
  letter-spacing: 5px;
}


/* 編集画面================================== */
.user-show {
  text-align: center;
}

.user {
  margin-top:20%;
  margin-bottom: 20px;
}

.user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 20px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}


/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: #f7e4ef;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-right a {
  font-size:20px;
}

.user-right a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}
